{% extends "base.html" %}
{% block title %}Recipe List{% endblock %}

{% block body %}
<div class="container mt-5 pt-4">
    <h1>Recipe List</h1>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Recipe Name</th>
                <th scope="col">Recipe Description</th>
                <th scope="col">Image</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for recipe in recipes %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ recipe.recipe_name }}</td>
                <td>{{ recipe.description }}</td>
                <td>
                    <img src="{{ recipe.picture.url }}" style="height: 200px;">
                </td>
                <td>
                    <a href="{% url 'delete_recipe_view' recipe.id %}" class="btn btn-danger m-2">Delete</a>
                    <a href="{% url 'update_recipe_view' recipe.id %}" class="btn btn-success">Update</a>
                    <a href="{% url 'recipe_detail' recipe.id %}" class="btn btn-info">View Details</a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="5">No recipes available.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
